/* Feedback Container */
.feedbacks{
    display: flex;
    justify-content: center;
    
}
.feedback-container {
    position: relative;

    margin-top: 20px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 50%;
    min-width: 300px;
    height: 325px;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Form Styling */
.feedback-form {
    margin-bottom: 20px;
}

.feedback-form label {
    display: block;
    margin-bottom: 5px;
}

.feedback-form textarea,
.feedback-form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.feedback-form button {
    position: absolute;
   left: 50%;
   transform: translateX(-50%);

   
}
.heading{
    margin-top: 100px !important;
}
.feedback-form button:hover {
    background-color: #0056b3;
}

/* Feedback List Styling */
.feedback-list {
    list-style-type: none;
    padding: 0;
}

.feedback-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.feedback-list li p {
    margin: 0;
}

.feedback-list li p.rating {
    font-weight: bold;
}
